APP_ENV=dev
APP_PORT=3008
AUTH_SECRET=auth_secret_key


DATABASE_URL="file:./somename.db"

CLIENT_ID = 133300448301-7jr985i9aljbqdbf27okphk58b2f987n.apps.googleusercontent.com
CLIENT_SECRET = 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
REDIRECT_URI = http://localhost:3008/register/google/callback